
.title {
    text-align: center;
    color: #ff6600;
    
}

.title h4 {
    font-weight: 700;
    line-height: 15px;
    font-size: 18px;
}

.data-header {
    padding-top: 20px;
    font-size: 15px;
    line-height: 18px;
}

.body-data {
    margin-top: 30px;
}

.table-data, .table-data th, .table-data td{
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
    padding: 1x 2px;
}
.body-data p {
    margin: 10px 0;
}

.user {
    font-weight: bold;
    text-decoration: underline;
    padding-top: 40px;
    margin-bottom: 0;
}