
.title {
    line-height: 1px;
    margin-bottom: 30px;
}

.info-header {
    margin-top: 20px;
}

.label-mohon {
    margin-top: 10px;
}

.table-data {
    margin-top: 20px;
    margin-left: 30px;
    line-height: 30px;
}

.note {
    margin-left: 30px;
}

.title-tembusan {
    margin-top: 10px;
}

.tembusan .row .col-4 {
    border: 1px solid black;
}

.arsip {
    margin-left: 30px;
}

.user {
    font-weight: bold;
    text-decoration: underline;
    padding-top: 40px;
    margin-bottom: 0;
}