.top .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.top .container .row .col .title p {
    font-size: 12px;
    font-weight: 700;
}

.top-table {
    line-height: 20px;
}

hr {
    border: 2px double black;
}

.table-data tr th {
    border: 1px solid black;
    font-size: 14px;
}

.table-data tr td {
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
}

.tanda-tangan {
    margin-top: 30px;
    font-size: 12px;
}

.tanda-tangan .row .col {
    line-height: 1px;
}

.tanda-tangan .row .col .p-label{
    padding-bottom: 40px;
}